.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.semaforo {
    width: 80px;
    background: #222;
    padding: 10px;
    border-radius: 12px;
}

.luz {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 50%;
    background: #444;
    opacity: 0.3;
    transition: 0.3s;
}

.verde { background: #00c853; }
.amarillo { background: #ffeb3b; }
.naranja { background: #ff9800; }
.rojo { background: #f44336; }
.azul { background: #0000FF }

.activo {
    opacity: 1;
    box-shadow: 0 0 15px currentColor;
}